argparse==1.2.1
awscli==1.10.32
botocore==1.4.22
colorama==0.3.3
distribute==0.6.24
docutils==0.12
futures==3.0.5
jmespath==0.9.0
pyasn1==0.1.9
python-dateutil==2.5.3
rsa==3.3
s3transfer==0.0.1
six==1.10.0
wsgiref==0.1.2
